:root{
    --main-bg-color: rgb(243, 233, 241);
}
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--main-bg-color);
}
/* header, basket_icon and logo */ 
a {
    text-decoration: none;
}
header {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
}
#headerLogo {
    flex-grow: 2;
}
.basketCard{
    position: absolute;
    top: -10px;
    background: yellow;
    padding: 0 2px;
    right: -2px;
    border-radius: 40%;
}
.basketCard{
    top: -5px;
    position: absolute;
    right: -2px;
    padding: 0 5px;
    color: white;
    background: red;
    border-radius: 30%;
    font-size: 1.2rem;
}
h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* header End*/
footer {
    justify-content: space-between;
    bottom: 0;
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
footer div a {
    margin: 10px;
}
.mention {
    margin-left: 0;
}
.contact {
    margin-right: 0;
}
a {
    text-decoration: none;
    color: black;
    margin: 10px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto 5%;
}
li {
    border: 1px solid black;
    max-width: 400px;
    max-height: 500px;
    margin: 2rem;
    list-style: none;
    background-color: whitesmoke;
}
.imagesProd {
    max-width: 400px;
    max-height: 200px;
}
.artName {
    text-align: center;
}
.description {
    text-align: justify;
    margin: 10px;
}
.artPrices {
    text-align: right;
    margin: 0 10px 10px;
}
.imgLogo {
    background: rgb(207,126,70);
    background: linear-gradient(114deg, rgba(207,126,70,1) 37%, rgba(172,107,167,1) 48%, rgba(143,91,253,1) 56%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}