html {
    height: 100%;
    width: 100%;
}
body {
    height: 90%;
    width: 100%;
}
a {
    text-decoration: none;
}
header {
    text-align: center;
}
footer {
    justify-content: space-between;
    
}
.mention {
    margin-left: 0;
}
.contact {
    margin-right: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto 5%;
}
li {
    border: 1px solid black;
    max-width: 300px;
    max-height: 500px;
    margin: 2rem;
    list-style: none;
}
.imagesProd {
    max-width: 300px;
    min-height: 200px;
}
.artName {
    text-align: center;
}
