html {
    height: 100%;
    width: 100%;
}
body {
    height: 90%;
    width: 100%;
}
a {
    text-decoration: none;
}
header {
    text-align: center;
}
footer {
    justify-content: space-between;
    
}
.mention {
    margin-left: 0;
}
.contact {
    margin-right: 0;
}
.articleBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto 5%;
}
.prodBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25rem;
    height: 22rem;
    border: violet solid 0.5rem;
}
article {
    height: 25rem;
    width: 30rem;
    align-content: space-betweend;
}